<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Integrador de Notícias</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a href="/selecao">Selecionar matérias para inserção no sistema</a></li>
          <li><a href="/classificacao">Classificar Matérias</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>